@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
}
body {
    /* height: 300vh; */
    background-color: #fff;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #d9d9d9;
    position: sticky;
    top: 0;
    z-index: 9;
  }
  
  .logo {
    padding-right: 230px;
  }
  .logo img {
    height: 40px;
  }

  .links a {
    margin-right: 10px;
    padding: 0 15px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
  }
  
  .links a:hover {
    color: white;
  }
  
  .user-actions a {
    margin-right: 10px;
    padding: 0 3px;
    color: #333;
    text-decoration: none;
  }
  
  .user-actions a:hover {
    color: white;
    text-decoration: underline;
  }

  .mobile-menu-icon {
    display: none;
  }

  .mobile-menu {
    display: none ;
  }


  /* _____________________________________________ */
  /* Main */
  main {
    background-image: url('Assets/My\ project-1.png');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    text-align: center;
  }
  
  h1 {
    color: #cfc694;
    margin-bottom: 30px;
  }
  
  .main-button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: white;
    color: black;
  }

  /* ____________________ */
  .informações{
    margin: 50px 0;
  }
  section {
    display: flex;
    flex-wrap: wrap;
  }
  
  .division {
    flex-basis: 33.33%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .symbol {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    margin-top: 0;
  }

  .borda {
    border-left:2px solid #666;
    border-right:2px solid #666;
  }
  /* ____________________ */
  /* Produtos */

  .produtos {
    display: flex;
    flex-wrap: wrap;
  }
  
  .division2 {
    flex-basis: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.5s;
  }

  .division2:hover {
    transform: translateY(-10px);
  }
  
  .produtos img {
    max-width: 75%;
    width: auto;
    height: auto;
    margin-bottom: 10px;

  }

  .preço {
    color: #c33d3d;
  }

  .preço span {
    color: black;
    font-size: 12px;
    text-decoration: line-through;
  }
  
  .content {
    font-weight: bold;
  }
  .content h1 {
    font-family: 'Sawarabi Gothic', sans-serif;
  }

  .container-tit {
    max-width: 200px;
    margin: 0 auto;
  }

  .titulo {
    text-align: center;
    margin-bottom: 50px;
    border-bottom:  3px solid #c33d3d;
  }

  .titulo2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    border-bottom:  3px solid #c33d3d;
  }

  /* _______________________ */
  /* Footer */
  footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
  }
  
  .footer-section {
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .footer-section p {
    margin: 10px;
    text-align: left;
  }
  
  .image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .image-section a {
    color: white;
  }

  .image-section a:hover {
    color: #666;
  }
  
  .image-section img {
    margin: 10px;
    width: 80px;
    margin-bottom: 30px;
  }
.direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}  
  
  
  
  /* Responsividade */
  @media screen and (max-width: 990px) {
    
  
    .logo {
      padding-right: 10px;
    }
  
    .links {
      display: none;
    }

    .mobile-menu-icon {
      display: block;
      color: black;
    }

    .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 10px 20px;
      font-size: 18px;
    }

    .mobile-menu ul {
      display: flex;
      text-align: center;
      padding-bottom: 1rem;
      
    }
    .icon-mobile {
      color: black;
      align-items: center;
    }
    .nav-item a {
      text-decoration: none;
      color: black;
      font-size: 16px;
    }

      .mobile-menu a:hover {
        color: white;
      }

    .nav-itemm2 {
      padding-right: 50px;
    }

    mobile menu #nav-link {
      padding-left: 550px;
    }
    .mobile-menu .nav-item {
      display: block;
    }

    .mobile-menu .user-actions {
      display: block;
      padding: 1rem 2rem;
    }
    .open {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 9vh;
      background-color: #cccbcb;
      left: 0;
      width: 100vw;
      height: 10vw;
      color: black;
    }
  }
  @media screen and (max-width: 730px) {
    
    .mobile-menu-icon {
      display: block;
      color: black;
    }

    .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 10px 20px;
      font-size: 18px;
    }

    .mobile-menu ul {
      display: flex;
      text-align: center;
      padding-bottom: 1rem;
      
    }
    .icon-mobile {
      color: black;
      align-items: center;
    }
    .nav-item a {
      text-decoration: none;
      color: black;
      font-size: 16px;
    }

      .mobile-menu a:hover {
        color: white;
      }

    .nav-itemm2 {
      padding-right: 50px;
    }

    mobile menu #nav-link {
      padding-left: 550px;
    }
    .mobile-menu .nav-item {
      display: block;
    }

    .mobile-menu .user-actions {
      display: block;
      padding: 1rem 2rem;
    }
    .open {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 9vh;
      background-color: #cccbcb;
      left: 0;
      width: 100vw;
      height: 10vw;
      color: black;
    }
    
    .division {
        flex-basis: 100%;
      }
      .borda {
        border-right: none;
        border-left: none;
        border-top:2px solid #666;
        border-bottom:2px solid #666;
      }
      .division2 {
        flex-basis: 100%;
      }
      .footer-section {
        flex-basis: 100%;
      }
    
      .image-container {
        flex-direction: column;
        align-items: center;
      }
      .footer-section {
        flex-basis: 100%;
      }
      .footer-section p {
        text-align: center;
      }
      .direita {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
  }
  