@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sawarabi Gothic', sans-serif;
}
body {
    /* height: 300vh; */
    margin-top: 90px;
    background-color: #eceBE9;

}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #d9d9d9;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;
  transition: top 0.4s;
}

.logo {
  padding-right: 220px;
}
.logo img {
  height: 40px;
}

.links a {
  margin-right: 10px;
  padding: 0 15px;
  color: #333;
  text-decoration: none;
  font-weight: 600;
}

.links a:hover {
  color: white;
}

.user-actions a {
  margin-right: 10px;
  padding: 0 3px;
  color: #333;
  text-decoration: none;
}

.user-actions a:hover {
  color: white;
  text-decoration: underline;
}

.fa-circle-user:before {
  margin-right: 50px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none ;
}

.spanprod {
  padding-left: 30px;
}
/* =------------------------------------ */

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    padding: 30px;
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #C33D3D;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s, color 0.3s, color 0.3, opacity 1s;
    text-decoration: none;
}

.btn:hover {
    background: #832a2a;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col4 img{
    width: 275px;
    height: 275px;
}

.col4:hover {
    transform: translateY(-10px);
    box-shadow: 0 1px 6px rgba(44,44,44,0.2);
}

.col4 p{
    font-size: 14px;
}

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

.single-product {
    margin-top: 50px;
}
.single-product .col-2 img {
    padding: 0;
}
.single-product .col-2 {
    padding: 20px;
}
.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #c33d3d;
}
.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #C33D3D;
}
input:focus {
    outline: none;
}
.small-img-row {
    display: flex;
    justify-content:center ;
}
.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
    margin-left: 7px;
}

.small-img-col:hover {
    filter: brightness(0.7);
}

 /* Footer */
 footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .footer-section p {
    margin: 10px;
    text-align: left;
  }
  
  .image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .image-section a {
    color: white;
  }

  .image-section a:hover {
    color: #666;
  }
  
  .image-section img {
    margin: 10px;
    width: 80px;
    margin-bottom: 30px;
  }
.direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}  

@media screen and (max-width: 990px) {
    
  
    .logo {
      padding-right: 10px;
    }
  
    .links {
      display: none;
    }

    .mobile-menu-icon {
      display: block;
      color: black;
    }

    .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 10px 20px;
      font-size: 18px;
    }

    .mobile-menu ul {
      display: flex;
      text-align: center;
      padding-bottom: 1rem;
      
    }
    .icon-mobile {
      color: black;
      align-items: center;
    }
    .nav-item a {
      text-decoration: none;
      color: black;
      font-size: 16px;
    }

      .mobile-menu a:hover {
        color: white;
      }

    .nav-itemm2 {
      padding-right: 50px;
    }

    mobile menu #nav-link {
      padding-left: 550px;
    }
    .mobile-menu .nav-item {
      display: block;
    }

    .mobile-menu .user-actions {
      display: block;
      padding: 1rem 2rem;
    }
    .open {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 7.4vh;
      background-color: #cccbcb;
      left: 0;
      width: 100vw;
      height: 10vw;
      color: black;
    }
  }
  @media screen and (max-width: 730px) {
    
    .mobile-menu-icon {
      display: block;
      color: black;
    }

    .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 10px 20px;
      font-size: 18px;
    }

    .mobile-menu ul {
      display: flex;
      text-align: center;
      padding-bottom: 1rem;
      
    }
    .icon-mobile {
      color: black;
      align-items: center;
    }
    .nav-item a {
      text-decoration: none;
      color: black;
      font-size: 16px;
    }

      .mobile-menu a:hover {
        color: white;
      }

    .nav-itemm2 {
      padding-right: 50px;
    }

    mobile menu #nav-link {
      padding-left: 550px;
    }
    .mobile-menu .nav-item {
      display: block;
    }

    .mobile-menu .user-actions {
      display: block;
      padding: 1rem 2rem;
    }
    .open {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 7.4vh;
      background-color: #cccbcb;
      left: 0;
      width: 100vw;
      height: 10vw;
      color: black;
    }
    
    .division {
        flex-basis: 100%;
      }
      .borda {
        border-right: none;
        border-left: none;
        border-top:2px solid #666;
        border-bottom:2px solid #666;
      }
      .division2 {
        flex-basis: 100%;
      }
      .footer-section {
        flex-basis: 100%;
      }
    
      .image-container {
        flex-direction: column;
        align-items: center;
      }
      .footer-section {
        flex-basis: 100%;
      }
      .footer-section p {
        text-align: center;
      }
      .direita {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
  }
  
  @media screen and (max-width: 600px) {
    /* Geral */
    .row {
        text-align: center;
    }

    .col-2, .col4{
        flex-basis: 100%;
    }

    .col4 img {
        height: 400px;
        width: 400px;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-producth1 {
        font-size: 26px;
        line-height: 32px;
        padding-bottom: 20px;
    }

    .cart-info p {
        display: 0 10px;
    }
}



