@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
}
body {
    /* height: 300vh; */
    background-color: #eceBE9;

}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #d9d9d9;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;
  transition: top 0.4s;
}



.logo {
  padding-right: 220px;
}
.logo img {
  height: 40px;
}

.links a {
  margin-right: 10px;
  padding: 0 15px;
  color: #333;
  text-decoration: none;
  font-weight: 600;
}

.links a:hover {
  color: white;
}

.user-actions a {
  margin-right: 10px;
  padding: 0 3px;
  color: #333;
  text-decoration: none;
}

.user-actions a:hover {
  color: white;
  text-decoration: underline;
}

.fa-circle-user:before {
  margin-right: 60px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none ;
}

.spanprod {
  padding-left: 41px;
}
  
  /* -------------------------------------- */
  main {
    margin-top: 90px;
  }
  .produtos {
    display: flex;
    flex-wrap: wrap;
  }
  
  .division2 {
    flex-basis: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.5s;
  }
  .filtro {
    display:flex;
    justify-content: flex-end;
    margin-right: 100px;
    text-decoration: none;
    color: black;
  }

  .produtos1 {
    text-decoration: none;
    color: black;
  }

  .division2:hover {
    transform: translateY(-10px);
    box-shadow: 0 1px 6px rgba(44,44,44,0.2);
  }
  
  .produtosimg {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 290px;
    margin-bottom: 10px;
  }
  
  .content {
    font-weight: bold;
  }

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-2 {
  justify-content: space-between;
  margin: 50px 50px 20px;
}

select{
  font-size: 14px;
  border: 1px solid #c33d3d;
  border-radius: 20px;
  padding: 10px 35px 10px 10px;
  transition: all 0.4s ease;
}

select:hover {
  background-color: #eeeeee75;
}

select:focus {
  outline: none;
}

.page-btn {
  padding-top: 20px;
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #c33d3d;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span a {
  text-decoration: none;
  color: inherit;
}

.page-btn span:hover {
  background: #c33d3d;
  color: #fff;
}

/* ______________footer_________________ */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .footer-section p {
    margin: 10px;
    text-align: left;
  }
  
  .image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .image-section a {
    color: white;
  }

  .image-section a:hover {
    color: #666;
  }
  
  .image-section img {
    margin: 10px;
    width: 80px;
    margin-bottom: 30px;
  }
.direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
} 

mobile menu #nav-link {
  padding-left: 550px;
}
.mobile-menu .nav-item {
  display: block;
}

.mobile-menu .user-actions {
  display: block;
  padding: 1rem 2rem;
}
.open {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 7vh;
  background-color: #cccbcb;
  left: 0;
  width: 100vw;
  height: 10vw;
  color: black;
}




@media screen and (max-width: 990px) {
    
  
  .logo {
    padding-right: 10px;
  }

  .links {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    color: black;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 42px;
    font-size: 18px;
  }

  .mobile-menu ul {
    display: flex;
    text-align: center;
    padding-bottom: 1rem;
    
  }
  .icon-mobile {
    color: black;
    align-items: center;
  }
  .nav-item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }

    .mobile-menu a:hover {
      color: white;
    }

  .nav-itemm2 {
    padding-right: 50px;
  }

  mobile menu #nav-link {
    padding-left: 550px;
  }
  .mobile-menu .nav-item {
    display: block;
  }

  .mobile-menu .user-actions {
    display: block;
    padding: 1rem 2rem;
  }
  .open {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 7.4vh;
    background-color: #cccbcb;
    left: 0;
    width: 100vw;
    height: 10vw;
    color: black;
  }
}
@media screen and (max-width: 730px) {
  
  .mobile-menu-icon {
    display: block;
    color: black;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 42px;
    font-size: 18px;
  }

  .mobile-menu ul {
    display: flex;
    text-align: center;
    padding-bottom: 1rem;
    
  }
  .icon-mobile {
    color: black;
    align-items: center;
  }
  .nav-item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }

    .mobile-menu a:hover {
      color: white;
    }

  .nav-itemm2 {
    padding-right: 20px;
  }

  mobile menu #nav-link {
    padding-left: 550px;
  }
  .mobile-menu .nav-item {
    display: block;
  }

  .mobile-menu .user-actions {
    display: block;
    padding: 1rem 2rem;
  }
  .open {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 7.4vh;
    background-color: #cccbcb;
    left: 0;
    width: 100vw;
    height: 10vw;
    color: black;
  }
  
  .division {
      flex-basis: 100%;
    }
    .borda {
      border-right: none;
      border-left: none;
      border-top:2px solid #666;
      border-bottom:2px solid #666;
    }
    .division2 {
      flex-basis: 100%;
    }
    .footer-section {
      flex-basis: 100%;
    }
  
    .image-container {
      flex-direction: column;
      align-items: center;
    }
    .footer-section {
      flex-basis: 100%;
    }
    .footer-section p {
      text-align: center;
    }
    .direita {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }  
}
